name: Release

on:
  push:
    branches: [master]

jobs:
  create:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    outputs:
      created: ${{ steps.release.outputs.release_created }}
    steps:
      - uses: google-github-actions/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: node
  docker:
    runs-on: ubuntu-latest
    needs: [create]
    if: ${{ needs.create.outputs.created }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        with:
          platforms: 'arm64,arm'
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: mattwebbio
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Generate tags
        id: docker_tags
        uses: docker/metadata-action@v3
        with:
          images: |
            mattwebbio/orbital-sync
            ghcr.io/mattwebbio/orbital-sync
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ${{ steps.docker_tags.outputs.tags }}
          labels: ${{ steps.docker_tags.outputs.labels }}
          platforms: |
            linux/amd64
            linux/arm64
            linux/arm
      - name: Update DockerHub description
        uses: peter-evans/dockerhub-description@v3
        with:
          username: mattwebbio
          password: ${{ secrets.DOCKERHUB_TOKEN }}
  npm:
    runs-on: ubuntu-latest
    needs: [create]
    if: ${{ needs.create.outputs.created }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: '18.x'
      - run: yarn
      - run: yarn tsc
      - run: echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}" > ~/.npmrc
      - run: yarn publish --registry https://npm.pkg.github.com
      - run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc
      - run: yarn publish --registry https://registry.npmjs.org
